@charset "UTF-8";

header .top { margin:0 auto; width:1200px; padding: 0 0 26px;}
header .top h1 { float:left; padding: 31px 0 0; }
header .top h1 a:first-child  { margin-right: 5px;}
header .top > div { float:right;}
header .control { float:left; padding: 31px 5px 0;}
header .control h2 { float:left; font-size:16px; color:#333; font-weight:normal; line-height:36px;}
header .control ul { float:left; padding: 0 0 0 9px;}
header .control li { float:left; padding: 0 0 0 4px;}
header .control li button[class] { padding:0px;}
header .control li button { padding: 0 16px; min-width: 36px; height:36px; font-size:14px; color:#3190ce; background:#fff; border:1px solid #dfdfdf;  border-radius: 36px; box-sizing:border-box;}
header .sns { float:left; padding: 27px 0 0;}
header .sns li { float:left; padding: 0 0 0 12px;}
header .sns li img { width: 46px;}
header .btm {border-top:1px solid #ededed; border-bottom:1px solid #ededed;}
header .btm > div { margin:0 auto; width:1200px;}
header .btm .lnb { float:left;}
header .btm .lnb li { float: left;}
header .btm .lnb a {display:block; line-height:59px; padding: 0 40px; color:#333; font-size:22px; }
header .btm .lnb a:hover {color:white; width:auto; height:59px; background: #7CBCFF;}
header .btm .spot { float:right; font-size:0;}
header .btm .spot *{ vertical-align: middle;}
header .btm .spot a:nth-child(1) {display:inline-block; position:relative; padding:0 25px; line-height:59px; font-size:15px; color:white; background:#666;}
header .btm .spot a { display:inline-block; position:relative; padding:0 25px; line-height:59px; font-size:15px; color:#666;}
header .btm .spot a~a:before { content:""; position: absolute; left:0; top:50%; width:1px; height:10px; background:#e3e3e3; transform:translateY(-50%);}
header .btm .spot i .xi-search:before { content:"\e97a";}
header .btm .spot button { width:59px; height:59px; background: none; color:#0066b3; font-size:26px; cursor:pointer;}
header .btm .spot button:hover { background:#666; border-radius:100%; color:#fff;}


.joincontents { width:1280px; margin: 0 auto;}
.subject2 { position:relative; padding:55px 0 53px;font-size:36px; color:#222; line-height:53px; text-align:center; font-weight:normal;}
.subject2:after { content:""; display:block; position:absolute; left:50%; bottom:0; width:50px; height:1px; background:#aaa; transform:translate(-50%,-50%);}
.subject2 + p { line-height:30px; padding:46px 0 54px; font-size:18px; color:#666; text-align:center;}
 
.join_box1 { padding:60px 0 0; box-sizing:border-box;text-align:center;margin:40px 0 32px;width:100%; height:402px; background:url("../img/bg_msgbox01.png") no-repeat 0 0 ,url("../img/bg_msgbox02.png") no-repeat right bottom; background-color: #e4e8f1; }
.join_box1 h3 { position:relative;line-height:100%; padding:83px 0 30px; font-size:24px; color:#222; background:url("../img/ico_member_join05.png") no-repeat center top;}
.join_box1 h3:after { content:""; position:absolute; left:50%; bottom:0; width:50px; height:2px; background:#222; transform:translateX(-50%);}
.join_box1 p { padding:37px 0 47px; font-size:14px; color:#888;}
.join_box1 a { display:inline-block; width:120px; height:45px; text-align:center; line-height:45px; color:#fff; font-size:13px; background:#042e6f;}

.board_wrap { width:1280px; margin:100px auto;  }
.board_title { margin-bottom:30px;}
.board_title strong { font-size: 3rem; font-weight:bold;}
.board_title p { margin-top:5px; font-size:1.4rem;}
.bt_wrap { margin-top:30px; text-align:center; font-size:0;}
.bt_wrap a { display:inline-block; min-width:80px; margin-left:10px; padding:10px; border:1px solid #000; border-radius:2px; font-size:1.4rem;}
.bt_wrap a:first-child { margin-left:0;}
.bt_wrap a.on {background:#000; color:#fff;}
.board_list { width:100%; border-top:2px solid #000;}
.board_list > div { border-bottom:1px solid #ddd; font-size:0;}
.board_list > div.top { border-bottom:1px solid #999;}
.board_list > div:last-child { border-bottom: 1px solid #000;}
.board_list > div > div { display:inline-block; vertical-align:middle; text-align:center; padding:15px 0; font-size:1.4rem;}
.board_list .num { width:10%;}
.board_list .title { width:60%;}
.board_list .write { width:10%;}
.board_list .date { width:10%;}
.board_list .count { width:10%;}
.board_page { margin-top:30px; text-align:center; font-size:0;}
.board_page a { display:inline-block;width:32px; height:32px; box-sizing:border-box; vertical-align:middle; line-height:100%; border:1px solid #ddd; border-left:0;}
.board_page a.bt {padding-top:10px; font-size:1.2rem; letter-spacing:-1px;}
.board_page a.num { font-size:1.4rem; padding-top:10px;}
.board_page a:first-child {border-left:1px solid #ddd;}
.board_page a.num.on { border-color:#000; background:#000; color:#fff;}

.board_view { width:100%; border-top:2px solid #000; font-size:1.4rem;}
.board_view .title { padding:20px 15px; border-bottom:1px dashed #ddd; font-size:2rem;}
.board_view .info { padding:15px; border-bottom:1px solid #999; font-size:0;  }
.board_view .info dl:first-child { padding-left:0;}
.board_view .info dl { display:inline-block;}
.board_view .info dl dt,
.board_view .info dl dd { display:inline-block; font-size:1.4rem;}




html{ font-size:10px;}
