@charset "UTF-8";

header .top { margin:0 auto; width:1200px; padding: 0 0 26px;}
header .top h1 { float:left; padding: 31px 0 0; }
header .top h1 a:first-child  { margin-right: 5px;}
header .top > div { float:right;}
header .control { float:left; padding: 31px 5px 0;}
header .control h2 { float:left; font-size:16px; color:#333; font-weight:normal; line-height:36px;}
header .control ul { float:left; padding: 0 0 0 9px;}
header .control li { float:left; padding: 0 0 0 4px;}
header .control li button[class] { padding:0px;}
header .control li button { padding: 0 16px; min-width: 36px; height:36px; font-size:14px; color:#3190ce; background:#fff; border:1px solid #dfdfdf;  border-radius: 36px; box-sizing:border-box;}
header .sns { float:left; padding: 27px 0 0;}
header .sns li { float:left; padding: 0 0 0 12px;}
header .sns li img { width: 46px;}
header .btm {border-top:1px solid #ededed; border-bottom:1px solid #ededed;}
header .btm > div { margin:0 auto; width:1200px;}
header .btm .lnb { float:left;}
header .btm .lnb li { float: left;}
header .btm .lnb a {display:block; line-height:59px; padding: 0 40px; color:#333; font-size:22px; }
header .btm .lnb a:hover {color:white; width:auto; height:59px; background: #7CBCFF;}
header .btm .spot { float:right; font-size:0;}
header .btm .spot *{ vertical-align: middle;}
header .btm .spot a:nth-child(1) {display:inline-block; position:relative; padding:0 25px; line-height:59px; font-size:15px; color:white; background:#666;}
header .btm .spot a { display:inline-block; position:relative; padding:0 25px; line-height:59px; font-size:15px; color:#666;}
header .btm .spot a~a:before { content:""; position: absolute; left:0; top:50%; width:1px; height:10px; background:#e3e3e3; transform:translateY(-50%);}
header .btm .spot i .xi-search:before { content:"\e97a";}
header .btm .spot button { width:59px; height:59px; background: none; color:#0066b3; font-size:26px; cursor:pointer;}
header .btm .spot button:hover { background:#666; border-radius:100%; color:#fff;}


.joincontents { width:1280px; margin: 0 auto;}
.subject2 { position:relative; padding:55px 0 53px;font-size:36px; color:#222; line-height:53px; text-align:center; font-weight:normal;}
.subject2:after { content:""; display:block; position:absolute; left:50%; bottom:0; width:50px; height:1px; background:#aaa; transform:translate(-50%,-50%);}
.subject2 + p { line-height:30px; padding:46px 0 54px; font-size:18px; color:#666; text-align:center;}
 
.join_box1 { padding:60px 0 0; box-sizing:border-box;text-align:center;margin:40px 0 32px;width:100%; height:402px; background:url("../img/bg_msgbox01.png") no-repeat 0 0 ,url("../img/bg_msgbox02.png") no-repeat right bottom; background-color: #e4e8f1; }
.join_box1 h3 { position:relative;line-height:100%; padding:83px 0 30px; font-size:24px; color:#222; background:url("../img/ico_member_join05.png") no-repeat center top;}
.join_box1 h3:after { content:""; position:absolute; left:50%; bottom:0; width:50px; height:2px; background:#222; transform:translateX(-50%);}
.join_box1 p { padding:37px 0 47px; font-size:14px; color:#888;}
.join_box1 a { display:inline-block; width:120px; height:45px; text-align:center; line-height:45px; color:#fff; font-size:13px; background:#042e6f;}

.loginform  { margin:0 auto; width:1280px; position:relative;}
.loginform form { position:absolute; top:50%; left:50%; transform: translateX(-50%); padding-top:100px;}
.login .topp { position:relative;width:329px;}
.login .topp li label { display:inline-block;width:63px;font-size:11px; color:#464646;}
.login .topp li input[type="text"],
.login .topp li input[type="password"] { width:144px; height:29px; padding:0; border-color:#d9d9d9;}
.login .topp li { padding:0 0 9px;}
.login .topp li a { width:109px; height:67px; background:#829c2c; display:inline-block;font-size:17px; color:#fff; text-align:center; line-height:69px; font-weight:bold; border:1px solid #778f28; }
.login .topp li.btn_li { position:absolute; right:0; top:0;} 
.login .topp li.save {padding:0 0 0 59px;}
.login .topp li.save label {font-weight:lighter;}




body { font-family: 'AppleSDGothicNeo', 'Noto Sans KR', sans-serif; }
