@charset "UTF-8";

header .top { margin:0 auto; width:1200px; padding: 0 0 26px;}
header .top h1 { float:left; padding: 31px 0 0; }
header .top h1 a:first-child  { margin-right: 5px;}
header .top > div { float:right;}
header .control { float:left; padding: 31px 5px 0;}
header .control h2 { float:left; font-size:16px; color:#333; font-weight:normal; line-height:36px;}
header .control ul { float:left; padding: 0 0 0 9px;}
header .control li { float:left; padding: 0 0 0 4px;}
header .control li button[class] { padding:0px;}
header .control li button { padding: 0 16px; min-width: 36px; height:36px; font-size:14px; color:#3190ce; background:#fff; border:1px solid #dfdfdf;  border-radius: 36px; box-sizing:border-box;}
header .sns { float:left; padding: 27px 0 0;}
header .sns li { float:left; padding: 0 0 0 12px;}
header .sns li img { width: 46px;}
header .btm {border-top:1px solid #ededed; border-bottom:1px solid #ededed;}
header .btm > div { margin:0 auto; width:1200px;}
header .btm .lnb { float:left;}
header .btm .lnb li { float: left;}
header .btm .lnb a {display:block; line-height:59px; padding: 0 40px; color:#333; font-size:22px; background:linear-gradient(ro right,rgba(255,255,255,0) 50%, #7CBCFF 50%); background-size:200%; transition:.35s; }
header .btm .lnb a:hover {color:white; width:auto; height:59px; background: #7CBCFF; background-position: -100% 0;}
header .btm .spot { float:right; font-size:0;}
header .btm .spot *{ vertical-align: middle;}
header .btm .spot a { display:inline-block; position:relative; padding:0 25px; line-height:59px; font-size:15px; color:#666; background:linear-gradient(to right, rgba(255,255,255,0) 50%, #f3be00 50%); background-size:200%; transition:.35s;}
header .btm .spot a:hover { background-position: -100% 0; color:white;}
header .btm .spot a~a:before { content:""; position: absolute; left:0; top:50%; width:1px; height:10px; background:#e3e3e3; transform:translateY(-50%);}
header .btm .spot i .xi-search:before { content:"\e97a";}
header .btm .spot button { width:59px; height:59px; background: none; color:#0066b3; font-size:26px; cursor:pointer;}
header .btm .spot button:hover { background:#666; border-radius:100%; color:#fff;}

.block { width:1280px; margin:auto; padding-bottom:300px;}

.product_view { position: relative;padding: 100px 0 0 395px; width: 962px; box-sizing: border-box;}
.product_view .img { position: absolute; left: 0; top: 0;}
.product_view .img > img { width: 368px; height: 370px; border:1px solid #e8e8e8; margin-top:100px;}
.product_view .img li:after { content: ""; display: block; clear: both;}
.product_view .img li { float: left; padding: 10px 10px 0 0;}
.product_view .img li.on img { border-color:#0a56a9;}
.product_view .img li img { width: 68px; height: 68px; border:1px solid #e8e8e8;}
.product_view h2 { margin: 0 0 15px; padding: 0 0 20px; border-bottom:2px solid #333; font-size:24px; color:#232323; line-height: 26px;}
.product_view table th,
.product_view table td { padding:14px 0; font-size: 15px; color:#444; text-align: left;}
.product_view table td.price { font-size: 22px;}
.product_view table td.total { font-size:19px; color:#0a56a9;}
.product_view table td.total b { font-size: 22px;}
.product_view table .length { position: relative; width: 71px; height: 32px; border:1px solid #c6c6c6;}
.product_view table .length input { width:44px; height: 30px; border:none;border-right:1px solid #c6c6c6; text-align:center; }
.product_view table .length a { overflow: hidden;position: absolute; right: 0; width: 26px; height: 16px; color:transparent;}
.product_view table .length a:nth-of-type(1) {  top: 0;background: url("../images/ico_up.png") no-repeat center;}
.product_view table .length a:nth-of-type(2) { bottom:0; background: url("../images/ico_down.png") no-repeat center; border-top:1px solid #c6c6c6;}
.product_view table select { width:100%; border:1px solid #c6c6c6; box-sizing: border-box;  background: url("../images/ico_select.png") no-repeat right 11px center;appearance:none; -webkit-appearance:none; -moz-appearance:none;}
.product_view table select::-ms-expand { display: none;}
.product_view .btns { padding: 45px 0 0; text-align: center;}
.product_view .btns > a { display: inline-block; width: 136px; height: 42px;border-radius: 2px; font-size: 16px; color:#fff; line-height: 42px; }
.product_view .btns > a.btn1 { background: #666;}
.product_view .btns > a.btn2 { background: #0a56a9;}



body { margin:0; padding:0; padding: 0 0 300px;font-family: 'AppleSDGothicNeo', 'Noto Sans KR', sans-serif;}  
  